In [1]:
import pandas as pd
import numpy as np
from FPMC import FPMC as FM

In [2]:
# import products description
products    =  pd.read_csv('../data/products.csv',index_col='product_id')
aisles      =  pd.read_csv('../data/aisles.csv',index_col = 'aisle_id')
departments =  pd.read_csv('../data/departments.csv', index_col = 'department_id')

In [14]:
orders = pd.read_csv('../data/orders.csv',index_col = 'order_id',usecols = ['order_id','user_id','eval_set','order_number','days_since_prior_order'])

In [4]:
ordersId = orders.query("(user_id < 100) and (eval_set =='prior') and (order_number >1)").index.values

In [25]:
orders.query('user_id == 1')

          user_id eval_set  order_number  days_since_prior_order
order_id
2539329         1    prior             1                     NaN
2398795         1    prior             2                    15.0
473747          1    prior             3                    21.0
2254736         1    prior             4                    29.0
431534          1    prior             5                    28.0
3367565         1    prior             6                    19.0
550135          1    prior             7                    20.0
3108588         1    prior             8                    14.0
2295261         1    prior             9                     0.0
2550362         1    prior            10                    30.0
1187899         1    train            11                    14.0

In [5]:
usecols = ['order_id','product_id']
items = pd.concat([pd.read_csv('../data/order_products__train.csv',usecols = usecols),
                   pd.read_csv('../data/order_products__prior.csv',usecols = usecols)])
items.head()

   order_id  product_id
0         1       49302
1         1       11109
2         1       10246
3         1       49683
4         1       43633

In [6]:
c = [1,2]

In [12]:
items2 = items.set_index(['order_id'])
items2.head()

          product_id
order_id
1              49302
1              11109
1              10246
1              49683
1              43633

In [13]:
items2.join(pd.Series(c,name = 'order_id'),how='inner')

   product_id  order_id
1       49302         2
1       11109         2
1       10246         2
1       49683         2
1       43633         2
1       13176         2
1       47209         2
1       22035         2

In [110]:
obj = FM(items = 49688, users = 100)

order_id = np.random.choice(ordersId)
order = orders.loc[orderId]
user_id = order.user_id
order_number = order.order_number
basket = items.query('order_id == @order_id').product_id.values.ravel()

print 'Target order:'
print order

prev_order_number = order_number - 1
prev_order = orders.query('(user_id == @user_id) and (order_number == @prev_order_number)').iloc[0,:]
print '\nPrevious order'
print prev_order

prev_order_id = prev_order.name
print prev_order_id
prev_basket = items.query('order_id == @prev_order_id').product_id.values.ravel()

c = obj.descend(user_id, basket, prev_basket)
print c

Target order:
user_id                      54
eval_set                  prior
order_number                 37
days_since_prior_order        1
Name: 3249202, dtype: object

Previous order
user_id                      54
eval_set                  prior
order_number                 36
days_since_prior_order        4
Name: 3184864, dtype: object
3184864
None

In [59]:
type(newBasket.values)

numpy.ndarray

In [93]:
prev_order.name

3184864

True

26

In [263]:
user = 34985 # np.random.randint(1,206210)
user_orders = orders.query('user_id == @user')
order_number = np.random.randint(1,user_orders.shape[0]-2)
c = user_orders.iloc[order_number:(order_number+2),:].index.values
g = items.query('order_id in @c').groupby('order_id')
basket = g.get_group(c[0]).product_id.values
prev_basket = g.get_group(c[1]).product_id.values

In [264]:
user_orders

          user_id eval_set  order_number  days_since_prior_order
order_id
1285729     34985    prior             1                     NaN
58736       34985    prior             2                    10.0
3077382     34985    prior             3                     9.0
939687      34985     test             4                     9.0

In [265]:
order_number

1

array([  58736, 3077382])

In [267]:
basket = g.get_group

{58736: Int64Index([555116, 555117, 555118, 555119, 555120, 555121, 555122, 555123,
             555124, 555125, 555126, 555127, 555128, 555129, 555130, 555131,
             555132, 555133, 555134, 555135, 555136],
            dtype='int64'),
 3077382: Int64Index([29179101, 29179102, 29179103, 29179104, 29179105, 29179106,
             29179107, 29179108, 29179109, 29179110, 29179111],
            dtype='int64')}

In [269]:
user = np.random.randint(1, 206210)
print 'User ', user
user_orders = orders.query('user_id == @user')
order_number = np.random.randint(1, user_orders.shape[0]-2)

c = user_orders.iloc[order_number:(order_number + 2), :].index.values
g = items.query('order_id in @c').groupby('order_id')

basket = g.get_group(c[0]).product_id.values
prev_basket = g.get_group(c[1]).product_id.values

obj.descend(user, basket, prev_basket)

 User  30518

IndexError: index 30518 is out of bounds for axis 0 with size 100

In [273]:
obj._VIU.shape

(49688, 8)

In [277]:
obj._VUI.shape

(100, 8)

In [276]:
obj._userNumber

100

In [279]:
obj._itemNumber

49688